body{
    background: #407590;
    color: #fff;
    
}
.container{
    margin-left:12%;
    margin-top: 50px;
    width: 90%;
    max-width: 700px;
}
.display{
    width: 100%;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}
.container h1{
    font-weight: 500;
    font-size: 45px;
}
.container h1 span{
    color: #000;
    border-bottom: 4px #000 solid;
    padding-bottom: 7px;
}
.display img{
    width: 30px;
    cursor: pointer;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
}
.container button img{
    width: 28px;
    margin-right: 10px;
}
.container button{
    border: 0;
    outline: 0;
    
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}
.btns{
    display: flex;

}
.remove{
    margin-left: 40px;
    background-color: #c32e0de9;
}
.generate{
    background: #000 ;
}
.submit{
    margin-left: 100px;
    
    background: rgb(22, 103, 22);
    
}


.rules{
    box-shadow: 0 0 10px 2px black;
    margin-top: 25px;
    background: rgba(255, 255, 255, 0.365);
    border-radius: 5px;
    font-size: 24px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.rules p{
    
    color:red;
    
}